<table>
	<thead>
            <tr>
              <th>№</th>
              <th>Дата создания</th>
              <th>Текст</th>
              <th>Отображается на сайте?</th>
              <th>Картинка</ht>
              <th style='width:180px;'>Действия</th>
            </tr>
    </thead>
    <tbody>
    	<% if (flowers && flowers.length>0) { %>
		  <% for(var i=0; i<flowers.length; i++) { %>
		    <tr>
		      <td><%= Number(i + 1) %></td>
		      <td><%= flowers[i].dateCreate.getDate() + '.' + flowers[i].dateCreate.getMonth() + '.' +
		      		  flowers[i].dateCreate.getFullYear()
		      %></td>
		      <td><%= flowers[i].content %></td>
		      <td><input type='checkbox' onclick="ActiveClick(event)" <%= flowers[i].isActive? 'checked' : '' %> /></td>
		      <td style='text-align:center;padding:0;'>
		      	<img width="120px" src="./Downloads/<%= flowers[i].src %>"
		      </td>
		      <td>
		      	<a href="#" style='display:none;' onclick="SaveClick(event, '<%= flowers[i].id %>')">Сохранить</a>
		      	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style='float: right' onclick="DeleteClick(event, '<%= flowers[i].id %>')">Удалить</a>
		      </td>
		    </tr>
		  <% } %>
		<% } else { %>
		   <h1>Нет данных</h1>
		<% } %>
    </tbody>
</table>